.container
    #fix
    .miframe
      .miframeheader
         h2 MesInfos de consommation

      .miframeinner
        .row
            .col-xs-6.text-center
                    img.brand#courses(src="img/Intermarche.png")

            .col-xs-6.text-center
                    img.brand#cra(src="img/Orange.png")
        #content
