.container
    #fix
    .miframe
      .miframeheader
         h2 MesInfos de consommation

      .miframeinner
        .row
            .col-xs-6
                div.text-center
                    img#courses(src="img/Intermarche.png")
            .col-xs-6
                div.text-center
                    img#cra(src="img/Orange.png")
        #content
