.container
    #fix
    .miframe
      .miframeheader
         h2 MesInfos de consomation

      .miframeinner
        div.center
            img.center#courses(src="/img/Intermarche.png")
      
        #content
