.container
    #fix
    .miframe
      .miframeheader
         h2 MesInfos de consommation

      .miframeinner
        div.text-center
            img.brand#courses(src="img/Intermarche.png")
      
        #content
