.consocontainer
    .consoheader
        h3
            img#loader(src="img/ajax-loader.gif")
            |&nbsp;
            = title 

    .consoinner#list
        .nodata Aucune donnée du journal d'appel en provenance d'Orange. Vous n'êtes pas client Orange.
        
