.col-md-4
    .row.receiptdetail
        .col-xs-4
            img.image(src='http://drive.intermarche.com/ressources/images/produit/vignette/0#{receiptDetail.barcode}.jpg')
            
        .col-xs-8
            - var label = receiptDetail.label.toLowerCase();
            - var parts = label.split(' ');
            - var vol = parts.pop();
            - parts.join(' ');
            p.lab= label
            - //p.vol= vol
            - //p= receiptDetail.amount 
            - //   | X
            p.price= receiptDetail.price
                |&nbsp;€ 
