.col-md-12
    h2= receipt.timestamp
    - var dt = new Date(receipt.timestamp)
    = dt.getDate()
    | /
    = dt.getMonth()

    | h
    = dt.getHours()
    | :
    = dt.getMinutes()

    | &nbsp;
    = receipt.articlesCount
    = receipt.total
    | €
    a(href="http://fc1.1bis.com/intermarche/map.asp?id=IMARC#{receipt.intermarcheShopId}") magasin
    |  infos supplémentaires
    = receipt.receiptId
    .thumbnail.row.sections


    
