.row.item_a.receipt
    
    .col-md-6
      .row
        .col-xs-2.box.map
            a(href="http://fc1.1bis.com/intermarche/map.asp?id=IMARC#{receipt.intermarcheShopId}", target="_blank")
                img(src="img/pin.png")
        .col-xs-5.box
          - var dt = new Date(receipt.timestamp)
          = dt.toString('d/MM')

        .col-xs-5.box
          = dt.toString('H:mm')
    .col-md-6
      .row
        .col-xs-5.box
            = receipt.articlesCount
            |&nbsp; articles
        .col-xs-5.box.price
            = receipt.total
            | €
            
        .col-xs-2.box.toggle
            img.toggle-btn(src="img/plus.png")
    
.sections
            
