.row.receipt
    
    .col-md-6
      .row
        .col-xs-2.box.map
            a(href="http://fc1.1bis.com/intermarche/map.asp?id=IMARC#{receipt.intermarcheShopId}", target="_blank")
                img(src="img/pin.png")
        .col-xs-5.box
          - var dt = new Date(receipt.timestamp)
          = dt.getDate()
          | /
          = dt.getMonth()

        .col-xs-5.box
            = dt.getHours()
            | :
            = dt.getMinutes()
    .col-md-6
      .row
        .col-xs-5.box
            = receipt.articlesCount
            |&nbsp; articles
        .col-xs-5.box.price
            = receipt.total
            | €
            
        .col-xs-2.box.toggle
            a
                img(src="img/plus.png")
    
.sections
            
