.sectionhead
    img.sectionlogo(src="img/Sections/#{section.section}.png")

.sectioninner
    .row.section
        - for (var i2 in section.receiptDetails) {
        -   var receiptDetail = section.receiptDetails[i2];
        include receiptdetail
        - }
