.sectionhead
    img.sectionlogo(src="img/Sections/#{section.section}.png", onerror="if (this.src != 'img/Sections/vide.png') this.src = 'img/Sections/vide.png';", title="#{section.sectionLabel}")

.sectioninner
    .row.section
        - for (var i2 in section.receiptDetails) {
        -   var receiptDetail = section.receiptDetails[i2];
        include receiptdetail
        - }
