@import "bootstrap.less";

.miframe {


    h2, h3 {
        text-align: center;
        color: white;
        line-height: 40px;
        font-weight: bold;
    }

    .miframeheader {
        background-color: #353A44;
        line-height: 40px;
        border-color: #353A44;
        border-bottom-width: 4px;
        border-bottom-color: #B2B2B2;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        height: 40px;


/*        border-width:3px; -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%; -webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%; -o-border-image: -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%; -moz-border-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%; */
    }
    
    .miframeinner {
        padding: 14px;
        background-color: #ECECEC;

        border-width:1px; 
        border-color: #B2B2B2;

        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;

        .person {
            p.nomprenom {
                background-color: transparent;
                background-repeat: no-repeat;
                background-image: url("../img/NomPrenom.png");
                background-size: 100% auto;

                height: 40px;
                line-height: 40px;
                margin-left: -12px;
                font-size: @font-size-h3;
                font-family: @headings-font-family;
                color: white;
                text-align: center;
        
            }
            p {
                background-color: white;
                size: @font-size-smaller;
                //height: 19px;
                //margin-top: 5px;
                //margin-left: 5px;
                padding-left: 5px;
                //padding: 3px;
            }    
        }
    }
    
    .consocontainer {
        background: #353A44; /* Old browsers */
        margin: 14px;

        .consoheader {
            background-color: #353A44;
            height: 42px;
        }
    }

    .consoinner {
        margin-left: 42px;
        margin-right: 42px;
        
    }
    // TODO !
    //.arrow {
    //        left: -10px;
    //        vertical-align: center;
    //    }
    .receipt {

        .box {
            height: 46px;
            line-height: 46px;
            font-size: @font-size-h3;
            font-family: @headings-font-family;
            color: white;
            text-align: center;

            border: 1px solid #353A44;
            
            //gradient todo

            background: #353A44; /* Old browsers */
            background: -moz-linear-gradient(#484f5a, #353a44); /* FF3.6+ */
            background: -webkit-linear-gradient(#484f5a#353a44); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(#484f5a,#353a44); /* Opera 11.10+ */
            background: linear-gradient(#484f5a,#353a44); /* W3C */

        }

        .price{
            font-size: @font-size-h2;

            background: #F5A03A; /* Old browsers */
            background: -moz-linear-gradient(#F5A03A, #F9B233); /* FF3.6+ */
            background: -webkit-linear-gradient(#F5A03A, #F9B233); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(#F5A03A,#F9B233); /* Opera 11.10+ */
            background: linear-gradient(#F5A03A,#F9B233); /* W3C */
        }
        
        .map {
            background: white;
        }
        .toggle {

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

        .sectionhead {
            text-align: center;
            margin-bottom: -50px;
        }
        .sectioninner {
            padding-top: 50px;
            background: #ECECEC; /* Old browsers */
            background: -moz-linear-gradient(#ECECEC, #B2B2B2); /* FF3.6+ */
            background: -webkit-linear-gradient(#ECECEC, #B2B2B2); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(#ECECEC,#B2B2B2); /* Opera 11.10+ */
            background: linear-gradient(#ECECEC,#B2B2B2); /* W3C */
        }
        .row.section {
            margin: 18px;
        }

    .receiptdetail {
        margin-bottom: 21px;
        line-height: 1.1;
        .image {
            //width: 53px;
            width: 75px;
            height: auto;
        }
        .lab {
            font-size: @font-size-large;
            font-family: @headings-font-family;
            line-height: 1.1;
        }
        .vol {
            font-size: @font-size-base;
            line-height: 1.1;            
 //           font-family: @headings-font-family;
        }
        .price {
            font-size: @font-size-h3;
            font-weight: bold;
            font-family: @headings-font-family;
            line-height: 1.1;            
        }
    }



    
}
